body {
    color: #000;
    font-family: sans-serif !important;
    background: #edf2fb;
    min-height: 100vh;
    background-image: radial-gradient(rgba(71, 75, 255, 0.2) 2px, transparent 2px), radial-gradient(rgba(71, 75, 255, 0.2) 2px, transparent 2px);
    background-size: 89px 89px;
    background-position: 0 0, 44.5px 44.5px;
}
header{
    width: 100%;
    height: 280px;
    background: radial-gradient(circle, transparent 20%, #7e00ff 20%, #7e00ff 80%, transparent 80%, transparent) 0% 0% / 76px 76px, radial-gradient(circle, transparent 20%, #7e00ff 20%, #7e00ff 80%, transparent 80%, transparent) 38px 38px / 76px 76px, linear-gradient(#b671ff 2.5px, transparent 2.5px) 0px -1.25px / 38px 38px, linear-gradient(90deg, #b671ff 2.5px, #7e00ff 2.5px) -1.25px 0px / 38px 38px #7e00ff;
    background-color: #7e00ff;
    color: #fff;
    fill: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: test 60s infinite ease-in-out;
}
@keyframes test{
    0%{
        background-position: 0 0;   
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 0;
    }
}
header .title {
    font-size: 5rem;
    font-weight: 800;
    line-height: 40px;
    margin: 0;
}
.main{
    margin: 3rem 64px;
    width: 90vw;
    display: inline-block;
}
.main main{
    float: left;
    width: calc(100% - 250px);
    background-color: #FFFFFF;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
}
main{
    margin: 3rem 64px;
}
article{ 
    float: right;
    width: 200px;
}
.block {
    cursor: not-allowed !important;
}

.title {
    font-size: 40px;
    margin-bottom: 80px;
    margin-top: 40px;
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
}

.back{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 24px;
    left: 64px;
}
.link-reference{
    font-size: 1rem;
    color: #999;
}
.link-reference:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1200px;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 40px 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
nav a{
    /* padding: 10px 24px; */
    color: #000;
    padding: 5px;
    border-radius: 8px;
    transition: .4s;
}
nav a::before{
    content: "</> ";
    color: #7e00ff;
    font-weight: 800;
}

nav a:hover{
    background-color: #dadada;
}
section{
    width: 100%;
    margin-bottom: 64px;
}

section h3{
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
}

section a{
    color: #7e00ff
}

section p {
    margin-top: 1rem;
    line-height: 1.5rem;
}
.content{
    margin-top: 8px;
}
.table{
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #101010;
    margin-top: 1rem;
}
table{
    width: 100%;
    height: 100%;
    background: #fff;
}

th,td, table{
    border: 1px solid #101010;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 3ch;
}
th{
    background: #7e00ff;
    color: #fff;
    font-weight: 800;
    vertical-align: middle;
}
tr td:nth-child(1){
    font-weight: 600;
}

.list-discipline {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.box-navegation {
    width: 100%;

    text-align: center;
}

.box-navegation a {
    font-size: 1.5rem;
    color: #fff;
    width: 100%;
    padding: 36px 0;
    display: block;
    border-radius: 16px;
    font-weight: 800;
    -webkit-box-shadow: 4px 6px 4.5px 0 #b9b9b9;
    -moz-box-shadow: 4px 6px 4.5px 0 #b9b9b9;
    box-shadow: 4px 6px 4.5px 0 #b9b9b9;
    transition: .4s;
}

.box-navegation a:hover{
    filter: brightness(.7);
}

.list-h{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}

.box-content > div{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
    -webkit-box-shadow: 4px 6px 4.5px 0 #b9b9b9;
    -moz-box-shadow: 4px 6px 4.5px 0 #b9b9b9;
    box-shadow: 4px 6px 4.5px 0 #b9b9b9;
}

.box-content p{
    color: #000;
    font-size: 1rem;
    font-weight: 800;
}
.box-content:hover{
    filter: brightness(.8);
}

.box-content svg{
    width: 50%;
    fill: #fff;
}

.contrast-text{
    padding: 4px 8px;
    background: #263238;
    color: #fff;
    font-family: monospace;
    border-radius: 5px;
    font-size: 10px;
}

pre{
    background: #263238 !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
    width: 60%;
    border-radius: 8px;
    margin: 40px auto;
    white-space: normal;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

code{
    color: #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    display: flex;
    gap: 5px;
}

code .number-line {
    margin-left: 30px;
    margin-right: 20px;
    position: relative;
    color: #aaa;
}

code .number-line::after {
    content: "";
    width: 2px;
    height: 30px;
    background: #fff;
    display: block;
    position: absolute;
    right: -10px;
    top: -50%;
}

code .contrast{
    color: #5292c7;
    font-weight: 800;
}

code .string{
    color: #ce9178;
}
code .number{
    color: #adc5a1;
}
code .tag{
    color: #db7171;
}
/* [#e5ccff, #cb99ff, #b266ff, #7e00ff, #6500cc, #4c0099, #320066] */