
@media only screen and (max-width: 800px){
    
    .main-container{
        flex-direction: column;
        display: flex;
        gap: 64px;
    }
    .network{
        top: 100px;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px){
    .open{
        display: flex;
    }
    .profile, .network, .painel{
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
    .main-container{
        /* margin: 0 40px 64px 40px; */
        width: 100%;
    }
    .main-header{
        padding: 0 40px;
        height: 80px;
    }
    .logo{
        height: 32px;
        gap: 12px;
        font-size: 12px;
    }
    .logo div, .logo img{
        height: 100%;
    }
    main{
        padding: 0 40px;
        box-sizing: border-box;
    }
    .contents-details div{
        width: 64px;
        height: 64px;
        font-size: 24px;
    }
    /*  */
    .nav-mobile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .nav-mobile a, .nav-mobile button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 100%;
        gap: 16px;
        font-size: 24px;
    }
}