*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    border-color: #ece8e8;
}

a{
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #FFF;
}

button{
    all: unset;
}

.block{
    cursor: not-allowed !important;
    filter: grayscale(1);
}

.main-header{
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    box-sizing: border-box;
}

.logo, .profile{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    font-weight: 800;
    font-size: 1rem;
}

.profile .frame-profile{
    width: 64px;
    height: 64px;
    background-color: #FFC75F;
    border-radius: 100%;
}
.profile .img-profile{
    width: 58px;
    height: 58px;
    
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
}

.img-profile img{
    width: 100%;
    border-radius: 100%;
}


.network{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 110px;
    right: 70px;
    gap: 12px;
}

.container-network{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #845EC2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}
/* end header */

/* start header */

.painel{
    width: 416px;
    background: #F7F7F7; 
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    margin-top: 32px;
   
}

.painel a{
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    grid-gap: 12px;
}

.painel .icon-painel{
    background: #845EC2;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFC75F;
    transition: .4s linear;
}

.painel a:hover > div{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-15deg);
}

/* end-painel */

/* start-main */

main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
    max-width: 1076px;
    margin: 64px 16px;
}
.course{
    display: block;
}
.course h3{
    color: #393E46;
    font-weight: 800;
    font-size: 32px;
    font-family: "Sora", sans-serif;
}

.arrow-details{
    color: #fff;
    transform: rotate(180deg);
    transition: .4s linear;
}

.plus{
    background: #F7F7F7;
    box-shadow: 4px 4px 4px #CCCCCC;
    border-radius: 8px;
    height: 600px;
    padding: 32px;
    position: relative;
}
.plus img{
    position: absolute;
    bottom: 32px;
    right: 32px;
}
.plus h2{
    margin-bottom: 32px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #393E46;
}

.container-plus{
    background: #845EC2;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 400px;
    display: block;
    overflow: auto;
    padding: 32px 40px;
    color: #fff;
}



.course-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.course-title p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #393E46;;
}

.course-title span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #393E46;
}

.container-course{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}
.module{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.details{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.details-header{
    background: #845EC2;
    padding: 12px 32px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Sora", sans-serif;
    font-weight: 800;
}

.contents-details{
    background: #F7F7F7;
    overflow: hidden;
    
    /* display: flex;
    justify-content: center; */
    gap: 16px;
    padding: 24px 0;
    height: 100%;
    transition: all 1s linear;
    
    grid-template-columns: repeat(3, 1fr);
    display: none;
}

.contents-details div{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    background: #FFC75F;
    color: #fff;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Sora", sans-serif;
    cursor: pointer;
    transition: .4s linear;
}
.contents-details div:hover{
    background: #f0b548;
}

#details-1:checked + .details > label + .contents-details,
#details-2:checked + .details > label + .contents-details,
#details-3:checked + .details > label + .contents-details{
    display: grid;
    justify-items: center;
}

#details-1:checked + .details > label > .arrow-details,
#details-2:checked + .details > label > .arrow-details,
#details-3:checked + .details > label > .arrow-details{
    transform: rotate(0);
}

input[type=checkbox]{
    display: none;
}

/* start dark mode */

.dark{
    background: #181921;
    color: #fff;
}
.dark .course > *,
.dark a,
.dark .course-title > *,
.dark .plus > *
{
    color: #fff;
}
.dark .painel,
.dark .contents-details,
.dark .plus{
    background: #202129;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.24);
}

.dark .container-plus{
    background: #351E5C;
}
.dark .menu-mobile span, 
.dark .menu-mobile span::before,
.dark .menu-mobile span::after{
    background: #fff;
}

/* end dark mode */

.menu-mobile{
    display: none;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 999999;
    width: 30px;
    height: 30px;
}

.menu-mobile span{
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transition: .4s;
}

.menu-mobile span::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    right: 0;
    position: absolute;
    transform: translate(0 , -10px);
    transition: .7s;
}

.menu-mobile span::before{
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    right: 0;
    position: absolute;
    transform: translate(0 , 10px);
    transition: .7s;
}
.active{
    position: fixed;
    right: 10%;
}
.active span{
    background: transparent !important;
}
.active span::after{
    transform: rotate(45deg);
    background: #fff;
}
.active span::before{
    background: #fff;
    transform: rotate(-45deg);
}

.nav-mobile{
    background: #845EC2;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
}
.open{
    display: none;
}